.card {
  position: relative;
  padding: 32px 40px;
  background: rgba(125, 121, 121, 0.2);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;

  border: 1px solid;
  border-image-source: linear-gradient(
    95.8deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 31.38%,
    rgba(255, 255, 255, 0) 66.08%,
    #ffffff 100%
  );
  height: 100%;
}

@media (max-width: 720px) {
  .card {
    padding: 24px;
  }
}
