.buy {
  background: #212121;
}

.buy .buy__texts h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 32px;
  margin-top: 0;
}

.buy .buy__texts p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
  color: #c6c6c6;
  width: 515px;
}

.buy .buy__texts p span {
  color: #6a92e0;
}

.buy .buy__card {
  background: #ffffff;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.buy .buy__card h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  margin-top: 0;
  margin-bottom: 12px;
}

.buy .buy__card p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #737373;
  width: 319px;
  margin-bottom: 30px;
}

.buy .buy__card button {
  border: none;
  width: fit-content;
  padding: 8px 16px;
}

.buy .buy__card .buy__card-white {
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.15);
  border-radius: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9f1b1b;
  border: 1px solid #9f1b1b;
  margin-bottom: 10px;
}

.buy .buy__card .buy__card-red {
  background: linear-gradient(275.34deg, #c42222 11.11%, #f13a3a 81.02%);
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.15);
  border-radius: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.buy .buy__card .buy__card-small {
  width: 171px;
  height: 112px;
  position: absolute;
  right: 24px;
  bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.1),
    inset 1px 1px 3px rgba(255, 255, 255, 0.45);
  border-radius: 16px;
  padding: 12px 16px;
}

.buy .buy__card .buy__card-small .buy__card-position {
  position: relative;
}

.buy .buy__card .buy__card-small .buy__card-position .buy__card-swt {
  position: absolute;
  top: 5px;
  left: 98px;
}

.buy .buy__card .buy__card-small .buy__card-position .buy__card-swt h6 {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.408px;
  color: #333333;
  margin: 0;
}

.buy .buy__card .buy__card-small .buy__card-position .buy__card-swt p {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #767676;
  width: 100%;
}

.buy .buy__card .buy__card-small .buy__card-position .buy__card-price {
  margin-top: 26px;
}

.buy .buy__card .buy__card-small .buy__card-position .buy__card-price h6 {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.408px;
  color: #333333;
  margin: 0;
}

.buy .buy__card .buy__card-small .buy__card-position .buy__card-price p {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 18px;
  color: #4cc015;
  width: 100%;
}

@media (max-width: 720px) {
  .buy .buy__card {
    background: rgba(125, 121, 121, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 24px;
  }
  .buy .buy__card h5 {
    color: #ffffff;
    margin-bottom: 12px;
  }

  .buy .buy__card p {
    color: #c6c6c6;
    margin-bottom: 10px;
  }

  .buy .buy__texts h5 {
    line-height: 140%;
    color: #ffffff;
  }
  .buy .buy__texts p {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 24px;
    width: 100%;
  }
  .buy .buy__card .buy__card-small {
    width: 118.62px;
    height: 77.69px;
    background: rgba(80, 76, 76, 0.7);
    backdrop-filter: blur(5.5495px);
    border-radius: 16.6485px;
  }
  .buy .buy__card .buy__card-small img {
    width: 22px;
    height: 22px;
  }
  .buy .buy__card .buy__card-small .buy__card-position .buy__card-swt {
    top: -2px;
    left: 52px;
  }

  .buy .buy__card .buy__card-small .buy__card-position .buy__card-swt h6 {
    font-size: 11.099px;
    color: #ffffff;
    text-align: right;
  }

  .buy .buy__card .buy__card-small .buy__card-position .buy__card-swt p {
    color: #c6c6c6;
  }

  .buy .buy__card .buy__card-small .buy__card-position .buy__card-price {
    margin-top: 10px;
  }

  .buy .buy__card .buy__card-small .buy__card-position .buy__card-price h6 {
    color: #ffffff;
    font-size: 9.71162px;
  }

  .buy .buy__card .buy__card-small .buy__card-position .buy__card-price p {
    font-size: 6.93687px;
    line-height: 12px;
  }
}
